@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HI</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Create</h2>
<form asp-action="Create">
    <label>Ma sinh vien:</label>
    <input type="number" name="StudentID" value="1">
    <br>
    <label>Ho ten sinh vien:</label>
    <input type="text" name="StudentName" value="Nguyen Van a">
    <br>
    <input type="number" name="Age" value="18">
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.naTT</h2>