@{
    ViewData["Title"] = "Home Page";

<h2>View Home / Index</h2>
<form asp-action = "Create" >

 <label> MA sinh vien :</label>
 <input type ="number" name ="StudentID" value="1">
 <br>
 <label>Ho ten sinh vien : </label>
 <input type="text" name="StudentName" value="Vu Khac Truong" > 
 <br>
 <label>tuoi:</label>
 <input type="number" name  ="Age" value="18">
 <br>
 <input type="submit" value="Send">
</form>
<h2>Hello  @ViewBag.TT</h2>
}