namespace DemoMVC.Views.Student;
{
    
    public class Create
    {
        <h2>Create new Student</h2>
    }
    <form asp-action="Create">
        <input type="number" name="StudentID">
    </form>
    
}